@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.component-heading h2 {
  @apply text-3xl text-primaryBlue tracking-wide font-semibold text-left my-3 font-sans;
}
.component-heading p {
  @apply text-base text-neutralGray tracking-wide font-normal text-left mb-5 font-sans;
}
.error-message {
  @apply text-error text-sm mt-2;
}
.app-component {
  @apply flex flex-col rounded-2xl h-screen md:bg-neutralWhite md:h-fit md:p-5 md:flex-row  md:pr-0 md:w-auto lg:w-[950px] md:mx-8 md:my-4;
}
.form-component {
  @apply w-full h-full md:h-auto flex flex-col justify-center items-center;
}
.form-container {
  @apply absolute top-32 flex flex-col justify-between w-full mx-auto h-full py-4 px-5 lg:w-[80%] md:w-[100%] md:relative md:top-0 md:p-4;
}
.navigation {
  @apply flex justify-between items-center mt-8 bg-neutralWhite py-4 px-8 -mx-8 -mb-4 md:bg-transparent md:p-0 md:m-0 md:mt-8;
}
.nav-prev {
  @apply text-neutralGray text-sm hover:text-primaryBlue font-semibold transition-all md:text-base;
}
.nav-next {
  @apply bg-primaryBlue text-sm text-white px-5 py-3 rounded-md font-semibold hover:bg-primaryPurple transition-all disabled:opacity-30 disabled:cursor-not-allowed md:px-8 md:py-4 md:rounded-lg md:text-base;
}
.nav-next-submit {
  @apply bg-primaryBlue text-sm text-white px-5 py-3 rounded-md font-semibold hover:bg-primaryPurple transition-all disabled:opacity-30 disabled:cursor-not-allowed md:px-8 md:py-4 md:rounded-lg md:text-base;
}
.submit-message {
  @apply absolute top-36 flex flex-col justify-center items-center px-6 py-16 w-[90%] h-fit bg-neutralWhite shadow-md  rounded-lg  mx-auto  space-y-4 opacity-0 animate-fadeIn  md:relative md:top-0 md:bg-transparent md:shadow-none md:rounded-none md:h-full md:p-4 md:w-[100%] lg:w-[80%];
}
.message-image {
  @apply w-20 h-20 mb-4;
}
.message-heading {
  @apply text-primaryBlue text-3xl font-bold;
}
.message-content {
  @apply text-neutralGray text-base text-center font-medium;
}
.message-link {
  @apply text-primaryPurple underline;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

.personal-info-component {
  @apply flex flex-col h-auto px-6 py-10 bg-neutralWhite shadow-md md:bg-transparent rounded-lg md:shadow-none md:rounded-none md:p-0 md:h-full;
}
.personal-info-label {
  @apply block text-base text-primaryBlue font-normal mb-2;
}
.personal-info-input {
  @apply text-base border rounded-md w-full p-4 h-12 font-normal tracking-wider text-primaryBlue outline-none focus:border-primaryPurple placeholder:font-normal;
}
.personal-info-input-error {
  @apply border-error;
}

.plans-component {
  @apply flex flex-col justify-between h-auto px-6 py-10 bg-neutralWhite shadow-md md:bg-transparent rounded-lg md:shadow-none md:rounded-none md:p-0 md:h-full;
}
.plan-card {
  @apply flex flex-col gap-3 md:flex-row md:gap-4;
}
.plan-card-wrapper {
  @apply relative w-full md:w-1/3;
}
.plan-input {
  @apply hidden;
}
.plan-label {
  @apply flex md:flex-col space-x-4 justify-start items-start md:space-x-0 md:space-y-2 cursor-pointer select-none border-[1.5px] border-neutralGray/50 rounded-md h-fit transition-all duration-300 hover:bg-primaryPurple/5 hover:border-primaryPurple peer-checked:border-primaryPurple peer-checked:bg-primaryPurple/10 p-4;
}
.plan-name {
  @apply text-base text-primaryBlue font-semibold transition-all duration-300 peer-checked:text-primaryPurple;
}
.plan-option {
  @apply text-sm text-neutralGray font-medium;
}
.plan-freebie {
  @apply text-xs text-primaryBlue font-medium;
}
.plan-toggle-wrapper {
  @apply flex justify-center items-center gap-x-4 bg-primaryPurple/5 p-3 w-full rounded-lg mb-6;
}
.plan-toggle-selector {
  @apply absolute top-1/2 transform -translate-y-1/2 bg-neutralWhite h-4 w-4 rounded-full  duration-300;
}
.plan-toggle-option {
  @apply text-sm font-semibold cursor-pointer;
}

.add-ons-component {
  @apply flex flex-col h-auto px-6 py-10 bg-neutralWhite shadow-md md:bg-transparent rounded-lg md:shadow-none md:rounded-none md:p-0 md:h-full;
}

.add-ons-label {
  @apply relative flex items-center space-x-4 p-4 border border-neutralGray/30 rounded-lg cursor-pointer transition-all duration-300 hover:bg-primaryPurple/5 hover:border-primaryPurple peer-checked:border-primaryPurple peer-checked:bg-primaryPurple/5;
}
.add-ons-custom-checkbox {
  @apply flex items-center justify-center w-5 h-5 border-2 border-neutralGray/40 rounded-md transition-all duration-300 peer-checked:border-primaryPurple peer-checked:bg-primaryPurple;
}
.add-ons-title-price {
  @apply flex justify-between items-center flex-1;
}
.add-ons-title {
  @apply text-base text-primaryBlue font-semibold transition-all duration-300 peer-checked:text-primaryPurple;
}
.add-ons-desc {
  @apply text-sm text-neutralGray font-medium transition-all duration-300 peer-checked:text-primaryPurple;
}
.add-ons-price {
  @apply text-primaryPurple text-sm font-semibold tracking-wide;
}

.summary-component {
  @apply flex flex-col h-auto px-6 py-10 bg-neutralWhite shadow-md md:bg-transparent rounded-lg md:shadow-none md:rounded-none md:p-0 md:h-full;
}
.summary-box {
  @apply bg-primaryPurple/5 p-6 rounded-md;
}
.summary-plan {
  @apply flex justify-between items-center border-b border-neutralGray/30 pb-2 mb-2;
}
.summary-title {
  @apply font-semibold text-primaryBlue;
}
.summary-name {
  @apply text-sm text-neutralGray ml-2;
}
.summary-update-plan {
  @apply text-sm text-neutralGray underline cursor-pointer;
}
.summary-price {
  @apply font-semibold text-primaryBlue;
}
.summary-id {
  @apply flex justify-between items-center;
}
.summary-list {
  @apply text-sm text-neutralGray;
}
.summary-list-price {
  @apply text-sm font-semibold text-primaryBlue/60 tracking-wider;
}
.summary-empty-list {
  @apply text-sm text-neutralGray mb-2;
}
.summary-total-wrapper {
  @apply flex justify-between items-center border-t border-neutralGray/30 pt-2 mt-4;
}
.summary-total {
  @apply text-sm font-normal text-neutralGray;
}
.summary-total-price {
  @apply font-bold text-primaryPurple tracking-wider;
}

.desktop-sidebar {
  @apply border w-[25rem] h-auto hidden md:block lg:block;
}
.mobile-sidebar {
  @apply border w-full h-auto md:hidden lg:hidden;
}

.step-tracking-container {
  @apply absolute inset-0 flex justify-center items-start mt-6 gap-x-4  md:gap-x-0 md:flex-col md:justify-start p-8 md:mt-0;
}
.step-indicator {
  @apply flex justify-start items-center gap-4 my-4;
}
.step-indicator-number {
  @apply flex justify-center items-center h-8 w-8 text-sm font-semibold rounded-full transition-all duration-300;
}
.step-circle-active {
  @apply bg-primaryBlue200 text-primaryBlue;
}
.step-circle-inactive {
  @apply border border-neutralWhite text-neutralWhite;
}
.step-info {
  @apply hidden md:block;
}
.step-title {
  @apply text-xs text-neutralGray;
}
.step-subtitle {
  @apply text-neutralWhite text-sm tracking-widest font-bold;
}
